:root {
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* Shorthand property for:
   * background-image;
   * background-repeat;
   * background-position;
   * background-size;
   * background-attachment.
   * Use a "/" (slash) to separate size property from the position property.
   */
  background: url("../images/pawel-nolbert-4u2U8EO9OzY-unsplash.jpg") no-repeat center top / auto 100vh fixed;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  height: 100vh;
}

img {
  display: block;
  margin: 1.2rem auto;
  width: 100%;
}

/* Navigation properties */
.menu-toggle {
  background-color: #e26600;
  border: solid 2px #ff8800;
  border-radius: 10px;
  box-shadow: -2px 2px 0 1px #804400;
  color: #ff8800;
  cursor: pointer;
  height: 9vh;
  position: fixed;
  right: 1vh;
  top: 1vh;
  width: 9vh;
  z-index: 999;
}

.menu-toggle:active {
  box-shadow: none;
  right: calc(1vh + 2px);
  top: calc(1vh + 2px);
}

.menu-toggle>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: solid 2px #804400;
  border-right: solid 2px #804400;
  border-radius: 8px;
  box-sizing: border-box;
  height: 100%;
  padding: 2vh;
  width: 100%;
}

.menu-toggle span {
  background-color: #ff8800;
  border-radius: 2px;
  box-shadow: -2px 2px 0 1px #804400;
  box-sizing: border-box;
  height: 4px;
  width: 100%;
}

#toggle {
  display: none;
}

.menu>ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0a0f20;
  box-shadow: 0 2px 8px 2px #000000;
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  top: -33vh;
  left: 1vh;
  transition: all 0.2s;
  width: calc(100vw - 13vh);
  z-index: 998;
}

#toggle:checked + ul {
  opacity: 1;
  top: 0;
  transition: all 0.2s;
}

.menu li {
  box-sizing: border-box;
  color: #ff8800;
  list-style: none;
  height: 11vh;
  border-bottom: solid 1px #ff8800;
}

.menu a {
  background-color: #0a0f20;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  height: 100%;
  transition: all 0.4s;
}

.menu a:hover {
  background-color: #262f4d;
  color: #eeeeee;
  transition: all 0.2s;
}

.menu a:active {
  background-color: #eeeeee;
  color: #0a0f20;
}

/* Title and subtitle properties */
.title {
  background-image: linear-gradient(rgb(5, 8, 17), rgba(5, 8, 17, 0.7), rgba(5, 8, 17, 0));
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title>h1,
.title>h2 {
  padding: 20px;
}

.title>h1 {
  font-size: 3rem;
}

.title>h2 {
  font-size: 2rem;
}

/* Sections properties */
section {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin: 10px 10px 20px;
  padding: 10px 20px 20px;
}

section>h3 {
  margin: 0 0 1.2rem 1.2rem;
}

section>p {
  margin-bottom: 1.2rem;
  text-align: justify;
}

section>a {
  font-style: italic;
  font-size: 1rem;
}

section>a:hover {
  color: #ff8800;
}

#portifolio>img {
  border-radius: 50%;
}

/* Footer properties */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  position: relative;
  width: 98%;
}

.blur {
  background-color: rgba(8, 8, 8, 0.9);
  filter: blur(4px);
  height: 100%;
  left: 1%;
  position: absolute;
  width: 100%;
}

.credits {
  filter: blur(0);
  color: #ffffff;
}

.credits a {
  font-weight: bold;
}

.credits a:hover {
  color: #ff8800;
}

/* Media queries */
@media only screen and (min-width: 527px) {
  body {
    background-size: 100vw auto;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }

  img {
    height: 60vh;
    width: auto;
  }

  .menu {
    background-color: #0a0f20;
    border-bottom: solid 2px #ff8800;
    box-shadow: 0 1px #804400, 0 4px 8px 2px #000000;
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
  }

  .menu>ul {
    padding-left: 10%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: none;
    opacity: 1;
    position: static;
    top: 0;
    left: 0;
    width: auto;
  }

  .menu li {
    border-bottom: none;
    border-radius: 2px;
    height: 11vh;
    width: 15%;
  }

  .menu-toggle {
    display: none;
  }
}